
.logo {
    width: 200px;
    height: 200px;
}

.banner-principal {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.image-sobre-nosotros {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.imagen-footer-oficina {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-color-clafidicacion {
    background-color: #E8E7E2;
}
